@use '../base/media-breakpoints.scss' as *;

.introduction {
	padding: 60px 0 150px 0;
	position: relative;

	@include media-breakpoint-down(sm) {
		padding: 0 0 120px 0;
	}

	&__icon {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-around;
		gap: 20px;

		@include media-breakpoint-down(sm) {
			flex-direction: column;
			gap: 40px;
		}
	}

	&__image {
		max-width: 600px;
		width: 100%;
		position: relative;

		@include media-breakpoint-down(sm) {
			max-width: 400px;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 60px;
		width: 100%;

		@include media-breakpoint-down(md) {
			gap: 30px;

		}

		&-title {
			font-family: var(--abhaya-libre-font-family);
			font-size: 40px;
			max-width: 345px;
			width: 100%;
			text-transform: uppercase;
			text-align: center;
			margin: 0 auto;
			color: var(--ivory);

			@include media-breakpoint-down(md) {
				font-size: 30px;
			}
		}

		&-story {
			display: flex;
			flex-direction: column;
			gap: 24px;
			align-items: center;
			justify-content: center;

			&-descr {
				font-family: var(--space-grotesk-font-family);
				color: var(--ivory);
				font-size: 16px;
				line-height: 1.4;
				max-width: 375px;
				width: 100%;
				text-align: center;

			}
		}

		&-subtitle {
			font-family: var(--space-grotesk-font-family);
			color: var(--ivory);
			font-size: 20px;
			text-align: center;
			text-transform: uppercase;
		}

		&-features {
			display: flex;
			flex-direction: column;
			gap: 24px;
			align-items: center;
			justify-content: center;
			max-width: 460px;
			width: 100%;


			&-list {
				display: flex;
				flex-direction: column;
				gap: 12px;
				justify-content: center;
				align-items: center;
				width: 100%;
			}

			&-item {
				color: var(--golden-yellow);
				display: flex;
				align-items: center;
				text-align: center;
				width: 100%;
				position: relative;

				@include media-breakpoint-down(sm) {
					width: 100%;
				}
			}
		}

		&-link {
			border: 3px solid var(--ivory);
			padding: 24px 48px;
			border-radius: 99px;
			background-color: inherit;

			&:hover {
				background-color: var(--ivory);

				span {
					color: var(--coffee-black);
				}
			}

			@include media-breakpoint-down(xs) {
				padding: 18px 30px;
				width: 70%;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			span {
				text-transform: uppercase;
				color: var(--ivory);
				font-size: 18px;
				font-weight: var(--700);
				font-family: var(--raleway-font-family);

				@include media-breakpoint-down(xs) {
					font-size: 16px;
				}
			}
		}
	}
}


.line-before,
.line-after {
	display: inline-block;
	height: 2px;
	background-color: rgba(243, 235, 217, 0.25);
	flex: 1;
	transform: scaleX(0);
	transition: transform 1s ease-in-out;
}

.line-before {
	transform-origin: right;
}

.line-after {
	transform-origin: left;
}

.text-span {
	padding: 0 15px;
	white-space: nowrap;

	@include media-breakpoint-down(xs) {
		padding: 0 5px;
	}
}

.animate-line-visible .line-before,
.animate-line-visible .line-after {
	transform: scaleX(1);
}